In [2]:
#Load extension
%load_ext sql

In [8]:
%env DATABASE_URL = postgresql://retail_user:Testing123@localhost:5432/retail_db

env: DATABASE_URL=postgresql://retail_user:Testing123@localhost:5432/retail_db

In [9]:
%%sql
select * from orders limit 10

10 rows affected.

[(1, datetime.datetime(2013, 7, 25, 0, 0), 11599, 'CLOSED'),
 (2, datetime.datetime(2013, 7, 25, 0, 0), 256, 'PENDING_PAYMENT'),
 (3, datetime.datetime(2013, 7, 25, 0, 0), 12111, 'COMPLETE'),
 (4, datetime.datetime(2013, 7, 25, 0, 0), 8827, 'CLOSED'),
 (5, datetime.datetime(2013, 7, 25, 0, 0), 11318, 'COMPLETE'),
 (6, datetime.datetime(2013, 7, 25, 0, 0), 7130, 'COMPLETE'),
 (7, datetime.datetime(2013, 7, 25, 0, 0), 4530, 'COMPLETE'),
 (8, datetime.datetime(2013, 7, 25, 0, 0), 2911, 'PROCESSING'),
 (9, datetime.datetime(2013, 7, 25, 0, 0), 5657, 'PENDING_PAYMENT'),
 (10, datetime.datetime(2013, 7, 25, 0, 0), 5648, 'PENDING_PAYMENT')]

In [10]:
%%sql
select order_customer_id, count(order_status) as total_customer_orders from orders group by order_customer_id limit 10

 * postgresql://retail_user:***@localhost:5432/retail_db
10 rows affected.

[(6114, 4),
 (11233, 6),
 (4790, 4),
 (273, 6),
 (11719, 6),
 (3936, 7),
 (5761, 2),
 (5468, 5),
 (7662, 6),
 (4326, 4)]